.features {
    padding-top: vars.rem(370);
    padding-bottom: vars.rem(150);
    color: vars.$dark-violet;

    @include vars.media(phone-wide, max) {
        padding-top: vars.rem(150);
    }

    & > .title {
        font-size: 5rem;
        line-height: 1;
        position: relative;
        margin-bottom: vars.rem(150);

        @include vars.media(phone-wide, max) {
            text-align: center;
            font-size: vars.rem(30);
        }

        &::before {
            @include vars.pseudo(block, vars.rem(170), vars.rem(1));
            top: calc(-1 * vars.rem(30));
            background: vars.$dark-violet;
            @extend %no-content;

            @include vars.media(phone-wide, max) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .feature {
        @include vars.media(phablet, max) {
            text-align: center;
        }
    }

    .title {
        @extend %display;
    }

    .list {
        width: 100%;
        @include vars.flexer();
        gap: vars.rem(50);
        margin-bottom: vars.rem(150);

        @include vars.media(phablet, max) {
            flex-direction: column;
        }
    }

    .img {
        width: vars.rem(85);
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        @include vars.media(phablet, max) {
            margin: 0 auto;
        }
    }

    .feature:first-child .img {
        background: url(/src/images/icon-snappy-process.svg);
    }

    .feature:nth-child(2) .img {
        background: url(/src/images/icon-affordable-prices.svg);
    }

    .feature:last-child .img {
        background: url(/src/images/icon-people-first.svg);
    }

    .feature .title {
        margin: vars.rem(40) 0 vars.rem(30);
    }

    .content {
        color: vars.$dark-grayish-violet;
    }

    .work {
        width: 100%;
        background: vars.$dark-violet;
        padding: vars.rem(50);
        color: vars.$very-light-gray;
        @include vars.flexer(center, space-between);
        position: relative;
        overflow: hidden;

        @include vars.media(desktop, max) {
            flex-direction: column;
            padding: vars.rem(30);
        }
    }

    .work::before {
        @extend %no-content;
        @include vars.pseudo(block, vars.rem(430), 100%);
        background: url(/src/images/bg-pattern-how-we-work-desktop.svg) center center/cover no-repeat;
        right: 0;
        z-index: 2;

        @include vars.media(phone-wide, max) {
            width: 50%;
            top: 0;
            background: url(/src/images/bg-pattern-how-we-work-mobile.svg) center center/cover no-repeat;
        }
    }

    .work .title {
        font-size: vars.rem(51);
        width: vars.rem(470);
        @include vars.media(desktop, max) {
            text-align: center;
            font-size: vars.rem(30);
            width: 100%;
            margin-bottom: vars.rem(30);
        }
    }

    .btn {
        @include vars.flexer(center, center);
        display: inline-block;
        padding: 8px 25px;
        border: 2px solid vars.$very-light-gray;
        color: inherit;
        font-size: vars.rem(18);
        background: transparent;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
        @extend %karla;
        z-index: 3;
    }

    .btn:hover {
        background: vars.$very-light-gray;
        color: vars.$very-dark-violet;
    }
}
