footer {
    background: vars.$very-light-gray;
    padding-bottom: vars.rem(65);

    .head {
        padding-top: vars.rem(50);
        // background: red;
        @include vars.flexer(center, space-between);

        @include vars.media(phone-wide, max) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .socials {
        @include vars.flexer(center, start);
        gap: vars.rem(15);

        @include vars.media(phone-wide, max) {
            margin-top: vars.rem(20);
        }
    }

    hr {
        margin: vars.rem(30) 0;
    }

    .parts {
        width: 100%;
        @include vars.flexer();
        gap: vars.rem(160);
        text-transform: uppercase;

        @include vars.media(phone-wide, max) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: vars.rem(70);
        }
    }

    .title {
        color: vars.$dark-grayish-violet;
        margin-bottom: vars.rem(35);
        font-weight: bold;
    }

    p {
        color: vars.$dark-violet;
        margin-bottom: vars.rem(10);
        font-weight: bold;
    }

    p:hover {
        text-decoration: underline;
    }
}
