header {
    height: vars.rem(80);
    @include vars.flexer(center, space-between);
    background: vars.$very-light-gray;
    position: relative;
    z-index: 10;

    nav {
        @include vars.flexer(center, space-between);
        gap: vars.rem(25);
        width: vars.rem(445);
        position: relative;

        @include vars.media(tablet-wide, max) {
            transition: height 0.5s;
            display: none;
            position: absolute;
            flex-direction: column;
            width: 100%;
            background: vars.$very-dark-violet;
            left: 0;
            top: vars.rem(80);
            height: 0;
        }
    }

    nav::after {
        @extend %no-content;
        @include vars.pseudo(none, 100%, vars.rem(220));
        @include vars.media(tablet-wide, max) {
            display: block;
            background: url(/src/images/bg-pattern-mobile-nav.svg) center top/cover;
            bottom: 0;
        }
    }

    p {
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.3s, background 0.3s;

        @include vars.media(tablet-wide, max) {
            margin-top: vars.rem(30);
            color: vars.$very-light-gray;
        }
    }

    p:not(:last-child) {
        color: vars.$dark-grayish-violet;

        @include vars.media(tablet-wide, max) {
            color: vars.$very-light-gray;
        }
    }

    p:not(:last-child):hover {
        color: vars.$very-dark-violet;
    }

    p:last-child {
        @include vars.flexer(center, center);
        padding: vars.rem(8) vars.rem(25);
        border: vars.rem(2) solid vars.$very-dark-violet;

        @include vars.media(tablet-wide, max) {
            border-color: vars.$very-light-gray;
        }
    }

    p:last-child:hover {
        background: vars.$very-dark-violet;
        color: vars.$very-light-gray;
    }

    label,
    input {
        display: none;
    }

    label {
        @include vars.media(tablet-wide, max) {
            display: block;
        }
    }

    input:checked + nav {
        display: flex;
        height: vars.rem(580);

        justify-content: start;
    }
}
