.hero {
    background: vars.$dark-violet;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: vars.rem(100);
    padding-bottom: vars.rem(100);
    height: vars.rem(600);
    position: relative;
    align-items: center;
    color: vars.$very-light-gray;

    @include vars.media(desktop-wide, max) {
        // padding: 0;
        grid-template-columns: 1fr;
    }

    @include vars.media(tablet, max) {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: vars.rem(950);
        // grid-template-columns: 100%;
        // grid-template-rows: repeat(2, 1fr);
    }

    &::after {
        @extend %no-content;
        @include vars.pseudo(block, vars.rem(436), vars.rem(515));
        background: url(/src/images/bg-pattern-intro-right-desktop.svg) center bottom/cover no-repeat;
        right: 0;
        top: 0;

        @include vars.media(tablet, max) {
            background: url(/src/images/bg-pattern-intro-right-mobile.svg) center center/contain no-repeat;
            top: 80%;
            width: 40%;
            right: 0;
        }
    }

    &::before {
        @extend %no-content;
        @include vars.pseudo(block, vars.rem(195), vars.rem(500));
        background: url(/src/images/bg-pattern-intro-left-desktop.svg) center center/cover no-repeat;
        top: 100%;
        transform: translateY(-34%);

        @include vars.media(tablet, max) {
            background: url(/src/images/bg-pattern-intro-left-mobile.svg) center center/contain no-repeat;
            top: 50%;
            left: 0;
        }
    }

    .img {
        background: url(/src/images/image-intro-desktop.jpg) center center/cover;
        @include vars.pseudo(block, min(vars.rem(540), 50%), vars.rem(640));
        right: vars.rem(165);
        top: vars.rem(100);

        @include vars.media(desktop-wide, max) {
            display: none;
        }

        @include vars.media(tablet, max) {
            order: 1;
            display: block;
            position: relative;
            inset: 0;
            // grid-row: 1;
            width: 100%;
            height: 50%;
            flex: 1;
            // background: red;
        }
    }

    .infos {
        position: relative;

        @include vars.media(tablet, max) {
            order: 2;
            text-align: center;
            height: 50%;
            padding: vars.rem(80) vars.rem(25);
        }
    }

    .infos::before {
        @include vars.pseudo(block, vars.rem(170), vars.rem(1));
        top: calc(-1 * vars.rem(30));
        background: vars.$very-light-gray;
        @extend %no-content;

        @include vars.media(tablet-wide, max) {
            display: none;
        }
    }

    .title {
        // font-size: max(82px, 5em);
        font-size: 5em;
        @extend %display;
        line-height: 1;

        @include vars.media(tablet, max) {
            font-size: vars.rem(35);
        }
    }

    .desc {
        font-size: vars.rem(17);
        margin: vars.rem(25) 0 vars.rem(30);
    }

    .btn {
        @include vars.flexer(center, center);
        display: inline-block;
        padding: 8px 25px;
        border: 2px solid vars.$very-light-gray;
        color: inherit;
        font-size: vars.rem(18);
        background: transparent;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
        @extend %karla;
    }

    .btn:hover {
        background: vars.$very-light-gray;
        color: vars.$very-dark-violet;
    }
}
