@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
header, header nav, header p:last-child, .hero .btn, .features .list, .features .work, .features .btn, footer .head, footer .socials, footer .parts {
  display: flex;
}

header nav::after, .hero::after, .hero::before, .hero .img, .hero .infos::before, .features > .title::before, .features .work::before {
  position: absolute;
}

header nav::after, .hero::after, .hero::before, .hero .infos::before, .features > .title::before, .features .work::before {
  content: "";
}

.hero .btn, .features .btn, body {
  font-family: "Karla", sans-serif;
}

.hero .title, .features .title {
  font-family: "DM Serif Display", serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}
.container > * {
  width: 100%;
  padding-left: 10.3125rem;
  padding-right: 10.3125rem;
}
@media only screen and (max-width: 767px) {
  .container > * {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

header {
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  position: relative;
  z-index: 10;
}
header nav {
  align-items: center;
  justify-content: space-between;
  gap: 1.5625rem;
  width: 27.8125rem;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  header nav {
    transition: height 0.5s;
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background: #2b272f;
    left: 0;
    top: 5rem;
    height: 0;
  }
}
header nav::after {
  display: none;
  width: 100%;
  height: 13.75rem;
}
@media only screen and (max-width: 1023px) {
  header nav::after {
    display: block;
    background: url(/src/images/bg-pattern-mobile-nav.svg) center top/cover;
    bottom: 0;
  }
}
header p {
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;
}
@media only screen and (max-width: 1023px) {
  header p {
    margin-top: 1.875rem;
    color: #fafafa;
  }
}
header p:not(:last-child) {
  color: #837d87;
}
@media only screen and (max-width: 1023px) {
  header p:not(:last-child) {
    color: #fafafa;
  }
}
header p:not(:last-child):hover {
  color: #2b272f;
}
header p:last-child {
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5625rem;
  border: 0.125rem solid #2b272f;
}
@media only screen and (max-width: 1023px) {
  header p:last-child {
    border-color: #fafafa;
  }
}
header p:last-child:hover {
  background: #2b272f;
  color: #fafafa;
}
header label,
header input {
  display: none;
}
@media only screen and (max-width: 1023px) {
  header label {
    display: block;
  }
}
header input:checked + nav {
  display: flex;
  height: 36.25rem;
  justify-content: start;
}

.hero {
  background: #2d2640;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  height: 37.5rem;
  position: relative;
  align-items: center;
  color: #fafafa;
}
@media only screen and (max-width: 1439px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 59.375rem;
  }
}
.hero::after {
  display: block;
  width: 27.25rem;
  height: 32.1875rem;
  background: url(/src/images/bg-pattern-intro-right-desktop.svg) center bottom/cover no-repeat;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .hero::after {
    background: url(/src/images/bg-pattern-intro-right-mobile.svg) center center/contain no-repeat;
    top: 80%;
    width: 40%;
    right: 0;
  }
}
.hero::before {
  display: block;
  width: 12.1875rem;
  height: 31.25rem;
  background: url(/src/images/bg-pattern-intro-left-desktop.svg) center center/cover no-repeat;
  top: 100%;
  transform: translateY(-34%);
}
@media only screen and (max-width: 767px) {
  .hero::before {
    background: url(/src/images/bg-pattern-intro-left-mobile.svg) center center/contain no-repeat;
    top: 50%;
    left: 0;
  }
}
.hero .img {
  background: url(/src/images/image-intro-desktop.jpg) center center/cover;
  display: block;
  width: min(33.75rem, 50%);
  height: 40rem;
  right: 10.3125rem;
  top: 6.25rem;
}
@media only screen and (max-width: 1439px) {
  .hero .img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .hero .img {
    order: 1;
    display: block;
    position: relative;
    inset: 0;
    width: 100%;
    height: 50%;
    flex: 1;
  }
}
.hero .infos {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .hero .infos {
    order: 2;
    text-align: center;
    height: 50%;
    padding: 5rem 1.5625rem;
  }
}
.hero .infos::before {
  display: block;
  width: 10.625rem;
  height: 0.0625rem;
  top: -1.875rem;
  background: #fafafa;
}
@media only screen and (max-width: 1023px) {
  .hero .infos::before {
    display: none;
  }
}
.hero .title {
  font-size: 5em;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .hero .title {
    font-size: 2.1875rem;
  }
}
.hero .desc {
  font-size: 1.0625rem;
  margin: 1.5625rem 0 1.875rem;
}
.hero .btn {
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #fafafa;
  color: inherit;
  font-size: 1.125rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.hero .btn:hover {
  background: #fafafa;
  color: #2b272f;
}

.features {
  padding-top: 23.125rem;
  padding-bottom: 9.375rem;
  color: #2d2640;
}
@media only screen and (max-width: 479px) {
  .features {
    padding-top: 9.375rem;
  }
}
.features > .title {
  font-size: 5rem;
  line-height: 1;
  position: relative;
  margin-bottom: 9.375rem;
}
@media only screen and (max-width: 479px) {
  .features > .title {
    text-align: center;
    font-size: 1.875rem;
  }
}
.features > .title::before {
  display: block;
  width: 10.625rem;
  height: 0.0625rem;
  top: -1.875rem;
  background: #2d2640;
}
@media only screen and (max-width: 479px) {
  .features > .title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 559px) {
  .features .feature {
    text-align: center;
  }
}
.features .list {
  width: 100%;
  gap: 3.125rem;
  margin-bottom: 9.375rem;
}
@media only screen and (max-width: 559px) {
  .features .list {
    flex-direction: column;
  }
}
.features .img {
  width: 5.3125rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
@media only screen and (max-width: 559px) {
  .features .img {
    margin: 0 auto;
  }
}
.features .feature:first-child .img {
  background: url(/src/images/icon-snappy-process.svg);
}
.features .feature:nth-child(2) .img {
  background: url(/src/images/icon-affordable-prices.svg);
}
.features .feature:last-child .img {
  background: url(/src/images/icon-people-first.svg);
}
.features .feature .title {
  margin: 2.5rem 0 1.875rem;
}
.features .content {
  color: #837d87;
}
.features .work {
  width: 100%;
  background: #2d2640;
  padding: 3.125rem;
  color: #fafafa;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1247px) {
  .features .work {
    flex-direction: column;
    padding: 1.875rem;
  }
}
.features .work::before {
  display: block;
  width: 26.875rem;
  height: 100%;
  background: url(/src/images/bg-pattern-how-we-work-desktop.svg) center center/cover no-repeat;
  right: 0;
  z-index: 2;
}
@media only screen and (max-width: 479px) {
  .features .work::before {
    width: 50%;
    top: 0;
    background: url(/src/images/bg-pattern-how-we-work-mobile.svg) center center/cover no-repeat;
  }
}
.features .work .title {
  font-size: 3.1875rem;
  width: 29.375rem;
}
@media only screen and (max-width: 1247px) {
  .features .work .title {
    text-align: center;
    font-size: 1.875rem;
    width: 100%;
    margin-bottom: 1.875rem;
  }
}
.features .btn {
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #fafafa;
  color: inherit;
  font-size: 1.125rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  z-index: 3;
}
.features .btn:hover {
  background: #fafafa;
  color: #2b272f;
}

footer {
  background: #fafafa;
  padding-bottom: 4.0625rem;
}
footer .head {
  padding-top: 3.125rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 479px) {
  footer .head {
    flex-direction: column;
    justify-content: space-between;
  }
}
footer .socials {
  align-items: center;
  justify-content: start;
  gap: 0.9375rem;
}
@media only screen and (max-width: 479px) {
  footer .socials {
    margin-top: 1.25rem;
  }
}
footer hr {
  margin: 1.875rem 0;
}
footer .parts {
  width: 100%;
  gap: 10rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 479px) {
  footer .parts {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4.375rem;
  }
}
footer .title {
  color: #837d87;
  margin-bottom: 2.1875rem;
  font-weight: bold;
}
footer p {
  color: #2d2640;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
footer p:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
