@use './utils/index' as vars;

.container {
    width: 100%;
    height: 100%;

    & > * {
        width: 100%;
        padding-left: vars.rem(165);
        padding-right: vars.rem(165);

        @include vars.media(tablet, max) {
            padding-left: vars.rem(25);
            padding-right: vars.rem(25);
        }
    }
}

@import './components/index';
